.movie-main {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-main li.slide {
  background: white;
  max-height: 300px;
}

.movie-wrapper {
  display: flex;
}

.movie-img {
  flex: 1;
}

.movie-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  text-align: left;
  flex: 2;
}

.movie-info h1 {
  font-weight: 200;
  font-size: 28px;
  width: 100%;
  margin: 0
}

.movie-info p {
  line-height: 1.2em;
  padding: 6px 0;
  overflow: auto;
  max-height: 160px;
  flex: 2;
  font-size: 15px;
  font-weight: 200;
  border-bottom: 1px solid lightgray;
  margin-bottom: 6px;
}

.movie-info a {
  color: black;
  font-size: 15px;
  font-weight: 200;
  text-decoration: none;
}

.movie-info a:hover {
  color: gray;
}



.movie-img img{
  width: 100%;
}
