
.slider .articles{
  max-height: 320px;
  line-height: 1.2em;
  font-weight: 200;
}

.slider a {
  color: red;
  font-size: 15px;
  font-weight: 200;
  text-decoration: none;
}
.slider a :hover{
  color: #636365;
}

.news-logo{
  position:relative;
  width: 50%;
  left: 25%;
}
