.quote-container {
display: flex;
align-items:center;
padding: 1rem;
text-align: center;
position: relative;
}
.blockquote {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.quotation-mark {
  position: absolute;
  font-weight: bold;
  font-size: 12em;
  user-select: none;
  color: #d4d4d4;
  font-family: "Times New Roman", Georgia, Serif;
  z-index: 0;
}

.quotation-mark.opening {
  top: -260px;
  left: 0px;
}

.quotation-mark.closing {
  right: 0px;
  top: -150px;
}

.quote {
  position: relative;
  z-index: 10;
  user-select: none;
  font-size: 1.5rem;
  font-weight: 300;
}

.blockquote hr {
  top: 50px;
  height: 0.5px;
  width: 30%;
  background-color: #d4d4d4;
}

.blockquote p {
  user-select: none;
}

.author {
  color: var(--main-orange);
  -webkit-transition: color .3 ease;
  transition: color .3s ease;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.author:hover {
  color: #636365;
}
