.activity h4 {
  margin: 0;
}
.activity ul{
  margin-bottom: 0;
  overflow: hidden;
  overflow-y: scroll;
  padding: 0;
}
.activity h3{
  margin: 0
}
.activity ul li, .activity .header{
  display: flex;
  justify-content: space-between;
}
