.container-scorePage {}

.left-pane {
  float: left;
  margin: auto;
  padding-left: 50px;
  padding-right: 25px;
}

.right-pane {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-center {
  display: flex;
  flex-flow: column;
  padding-top: 40px;
  padding-left: 25px;
}

#scoreText {
  font-size: 3em;
  text-shadow: 2px 1px 7px #800000;
}
